<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chatgf">

    <!-- 加入網路存取權限，否則無法進行 HTTP/HTTPS 請求 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatGF"
        tools:targetApi="31">

        <!-- 設定 HomeActivity 為啟動 (Launcher) Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ChatActivity 僅在 App 內部呼叫，可設 exported="false" -->
        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <!-- 其餘檔案 (Message.kt、ChatAdapter.kt、OpenAIManager.kt 等)
             不需在 Manifest 裡宣告，因為不是 Activity/Service/Receiver/Provider。 -->

    </application>
</manifest>
